# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/LiveryConverter/v16/.suo
*.cache
*.cache
obj/Debug/LiveryConverter.csprojAssemblyReference.cache
obj/Debug/LiveryConverter.csproj.GenerateResource.cache
obj/Debug/LiveryConverter.csproj.FileListAbsolute.txt
obj/Debug/LiveryConverter.csproj.CoreCompileInputs.cache
obj/Debug/DesignTimeResolveAssemblyReferences.cache
.vs/LiveryConverter/v16/.suo
